@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Cabin;
  color:var(--TextColor);
  background-color: var(--BGCOLOR);
}

:root {
  --BGCOLOR:  #E7ECFF;
  --BG:#F0131E;
  --TextColor:#091133;
}

a {
  text-decoration:none;
}


.container {
  width: auto;
  margin-right: 15px;
  margin-left: 15px;
  padding-left: 0;
  padding-right: 0;
  border:2px dashed green;
}

@media (min-width: 768px) {
  .container {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    border:2px dashed green;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    border:2px dashed green;
  }
}